[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = Eu
ST = Ohio
L = Columbia
O = JuanMarcos SA
OU = Development 
CN = www.3.12.74.191.com
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = www.3.12.74.191.com
DNS.2 = 3.12.74.191.com
DNS.3 = 3.12.74.191
