#chat-container {
    background-color: rebeccapurple;
    border: 1px solid black;  
    width: 300px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#chat-input {
    position: absolute;
    bottom: 0;
}

#chat-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.chat-new-message {
    background-color: white;
    width: 80%;
    padding: 5px;
    margin: 5px 0;
}

.chat-new-message__mine {
    align-self: flex-end;
}